doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="Refresh", content="0; URL=https://jarbits.github.io")
  body
    if !watch
      script.
        window.location = 'https://jarbits.github.io'
